!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Offsetmybeef'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Offsetmybeef'}"}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      .topcoat-navigation-bar
        .topcoat-navigation-bar__item.left.quarter
          = link_to(image_tag('bull_head.png', size: '75x88'), root_path)
        .topcoat-navigation-bar__item.center.half
          %h1 Offset My Beef
        .topcoat-navigation-bar__item.right.quarter
          = render 'layouts/navigation'
    %main{:role => "main"}
      = raw humane_flash_messages
      = yield
